*.csv
*.tsv

.DS_STORE
.idea

*.hdf5
*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*db.data
*db.images.data
*db.labels.data

db/
tsv_files/

play/
venv/
tf-model
small_openimages
imagenet_models
dict
checkpoints
checkpoints_2

data/openimages
gdown.pl

models/yolov2/model_storage
tensorboard-logs

.vscode/last.sql
./downloads
.ipynb_checkpoints
downloads
old_useful
